
\.vs/FilosofosQueJantam/v15/Server/sqlite3/db\.lock

\.vs/FilosofosQueJantam/v15/Server/sqlite3/storage\.ide

\.vs/FilosofosQueJantam/v15/Server/sqlite3/storage\.ide-shm

\.vs/FilosofosQueJantam/v15/Server/sqlite3/storage\.ide-wal

\.vs/FilosofosQueJantam/v15/\.suo

FilosofosQueJantam/bin/Debug/FilosofosQueJantam\.exe

FilosofosQueJantam/bin/Debug/FilosofosQueJantam\.pdb

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.csproj\.CoreCompileInputs\.cache

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.csproj\.FileListAbsolute\.txt

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.csproj\.GenerateResource\.Cache

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.csprojAssemblyReference\.cache

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.exe

FilosofosQueJantam/obj/Debug/FilosofosQueJantam\.pdb
